venv/
__pycache__/
db.sqlite3
.idea
media/
node_modules/
package-lock.json
package.json
local_settings.py
*/migrations/*.py
celerybeat-schedule
tox.ini
*/fixtures/
*/management/commands/*.json
Dockerfile.prod
docker-compose-prod.yml
.envs/.local/.prod/
nginx/
common-services-prod.yml
.env-prod
pytest.ini
